h1 {
    color: olive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
} 
li {
    color: green;
    border-top: solid grey;
    border-left: solid orangered;
    border-right: solid  red;
    border-bottom: solid  pink;
}
h2 {
    color: violet;
    font-size: 30px;
    border-top: solid  turquoise;
    border-left: solid  violet;
    border-right: solid  black;
    border-bottom: solid  brown;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px ;
    padding-left: 50px;
}
h3 {
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px ;
    padding-left: 50px;
}
.ulicons {
    list-style: none;
    padding-inline-start: 0mm;
    padding-right: 10mm;
    padding-left: 30cm;
    display: flex;
    flex-direction: row;
    position: absolute;
}
.hello {
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: yellow;
    }
.hello__li__a:hover {
    background-color:yellow;
  }

.word {
    display: flex;
    transition: 3s;
}
 
.word .imagen {
    height: 550px;
    width: 100%;
    padding-left: 0cm;
    padding-right: 1cm;
}
.word .parrafo {
    color: black;
    font-family: 'Chango', cursive;
    text-align: justify;
    position: absolute;
    padding-top: 5cm;
    padding-right: 2cm;
    padding-left: 1cm;
}
p {
    color: turquoise;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}
.turnos {
    padding-top: 2cm;
}
.gridd {
    display: grid;
    padding-left: 2cm;
    grid-template-columns: 400px 400px 400px
}
.ulfooter {
    list-style: none;
    padding-left: 25cm;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    padding-top: 3cm;
}
.ulfooter2 {
    list-style: none;
    padding-left: 8cm;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    padding-top: 3cm;
}
.imagen2 {
    height: 200px;
}
.imagen3 {
    height: 200px;
    padding-bottom: 1cm;
    padding-top: 3cm;
    padding-left: 13cm;
    position: absolute;
}
.imagen4 {
    height: 400px;
    padding: 10px;
}
.backgroundindex {
    background-color: lawngreen;
}
.backgroundpsico {
    background-color: rgb(238, 231, 231);
}
.backgroundreiki {
    background-color: rgb(240, 78, 232);
}
.backgroundquien {
    background-color: rgb(236, 221, 8);
}
.backgroundcontact {
    background-color: rgb(241, 141, 233);
}
.menu {
    text-decoration: none;
    color: blue;
  }
  
  .menu:hover {
    background-color:blue;
    color: yellow;
  }
.dates {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    }
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.gradinicio {
    background-image: linear-gradient(to left, blue , yellow);
   }
.gradpsico {
    background-image: linear-gradient(to left, green , rgb(255, 0, 179));
   }
.gradreiki {
    background-image: linear-gradient(to left, orangered, yellow);
   }
.gradquien {
    background-image: linear-gradient(to left, rgb(255, 0, 0), green);
   }
.gradcontact {
    background-image: linear-gradient(to left, yellow, rgb(43, 255, 0));
   }
